<div class="form">
    <div class="center">
        <h1 class="form-title">Register new Beer</h1>
        <br>
        <ng-template *ngIf="error | async then err; else succ"></ng-template>

        <ng-template #err>
            <div class="form-error">
                <h3>Beer not found</h3>
            </div>
        </ng-template>

        <ng-template #succ>        
            <form (ngSubmit)="save()">
                <div class="form-input">
                    <label for="name">Beer Name</label><br>
                    <input type="text" placeholder="Beer Name" [(ngModel)]="beer.name" name="name" required=""  id="beername">
                </div>
                <div class="form-input">
                    <label for="name">Brand</label><br>
                    <input type="text" placeholder="Brand" [(ngModel)]="beer.brand" name="brand" required="" id="brand">
                </div>
                <div class="form-input">
                    <label for="name">Quantity</label><br>
                    <input type="number" placeholder="0-100" [(ngModel)]="beer.quantity" name="quantity" required="" id="quantity">
                </div>
                <div class="form-input">
                    <button type="submit" id="btn-save">Save</button>
                    <button type="button" id="btn-cancel" (click)="cancel()">Cancel</button>
                </div>
            </form>
        </ng-template>
    </div>
</div>