* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --sidebar-color: #C71585;
    --bar-color: #00CED1;
}

.center {
    margin: 0 auto;
    width: 80%;
}

.icon {
    vertical-align: middle;
}